.upperbar{
    background-color: rgb(175, 215, 222);
}

.bottombar{
    height: 33.33%;
    background-color: rgb(175, 215, 222);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    z-index: 1;
}

/* Styles for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.img-container{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  
  .tab-content {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh; /* Ensure a minimum height to fill the viewport */
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 159, 92);
  }

.button-container {
    margin-top: auto; /* Push the container to the bottom of the page */
    display: flex;
    justify-content: space-around; /* Spread buttons evenly */
    padding: 10px; /* Optional: Add padding for spacing */
}

.button-container-home   {
  display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 10px; /* Adjust as needed for spacing between buttons */
}

.homeButton {
  width: 100%; /* Make buttons fill the width of their container */
  padding: 10px;
  box-sizing: border-box; /* Include padding in the button's total width */
}

button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #8B4513;
  color: #fff; 
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border: 2px solid #CD853F; 
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888; 
}
