.upperbar {
  background-color: rgb(175, 215, 222);
}

.bottombar {
  height: 33.33%;
  background-color: rgb(175, 215, 222);
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  z-index: 1;
}

/* Styles for the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.img-container {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tab-content {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(81, 159, 92);
}

.button-container {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.button-container-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.homeButton {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #8B4513;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border: 2px solid #CD853F;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888;
}

/* Additional styles for tab buttons */
.tab-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.tab-btn {
  width: max-content; /* Adjust width to fit content */
  text-align: left; /* Adjust text alignment to the left */
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px; /* Adjust padding for better appearance */
  background-color: #8B4513;
  color: #fff;
  border: 2px solid #CD853F;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888888;
}

/* Style for the clickable images */
.clickable-image {
  position: absolute;
  cursor: pointer;
  /* Add other styling properties as needed */
}

/* Example styling for Coyote image */
#coyote-image { /* Adjust the top position as needed */
  bottom: 350px;
  left: 100px; /* Adjust the left position as needed */
  /* Add other styling properties for the Coyote image */
}

/* Example styling for Crow image */
#crow-image { /* Adjust the top position as needed */
  bottom: 300px;
  left: 200px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}

/* Example styling for deer image */
#deer-image { /* Adjust the top position as needed */
  bottom: 300px;
  left: 300px; /* Adjust the left position as needed */
  /* Add other styling properties for the deer image */
}

/* Example styling for Crow image */
#koi-image { /* Adjust the top position as needed */
  bottom: 500px;
  left: 200px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}

/* Example styling for Crow image */
#lizard-image { /* Adjust the top position as needed */
  bottom: 500px;
  left: 300px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}

/* Example styling for Crow image */
#lizard-image { /* Adjust the top position as needed */
  bottom: 500px;
  left: 400px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}

#moutainlion-image { /* Adjust the top position as needed */
  bottom: 500px;
  left: 500px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}

#raccoon-image { /* Adjust the top position as needed */
  bottom: 300px;
  left: 400px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}

#slug-image { /* Adjust the top position as needed */
  bottom: 300px;
  left: 500px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}

#squirrel-image { /* Adjust the top position as needed */
  bottom: 300px;
  left: 100px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}

#turkey-image { /* Adjust the top position as needed */
  bottom: 500px;
  left: 600px; /* Adjust the left position as needed */
  /* Add other styling properties for the Crow image */
}